@import "tailwindcss";

:root {
  --bg: #050505;
  --card: #111111;
  --white: #ffffff;
  --text: #bfbfbf;
  --primary: #00e5ff;
  --secondary: #7b61ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
  background: var(--bg);
  color: white;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: min(90%, 1400px);
  margin: auto;
}